:root {
  --spinner-width-mobile: 10dvw;
  --spinner-height-mobile: 10dvw;
  --spinner-width-laptop: 7dvw;
  --spinner-height-laptop: 7dvw;
  --picture-width-mobile: 50%;
  --picture-width-laptop: 35%;
  --footer-margin-top: 1.5dvh;
}

.spinner {
  width: var(--spinner-width-mobile);
  height: var(--spinner-height-mobile);
  border-radius: 50%;
  border: 0.6dvw solid transparent;
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  width: 15%;
}

.rotate:hover {
  transform: rotate(0.5turn);
}

picture img {
  width: var(--picture-width-mobile);
}

footer {
  margin-top: var(--footer-margin-top);
}

@media screen and (min-width: 1024px) {
  .spinner {
    width: var(--spinner-width-laptop);
    height: var(--spinner-height-laptop);
  }

  picture img {
    width: var(--picture-width-laptop);
  }
}
