:root {
  --h2-font-size-mobile: 1rem;
  --h2-font-size-desktop: 2rem;
  --logo-img-width-mobile: 35%;
  --logo-img-width-desktop: 25%;
}

main > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

h2 {
  font-size: var(--h2-font-size-mobile);
  margin-bottom: 1dvh;
}

img {
  filter: grayscale(100%);
  width: var(--logo-img-width-mobile);
  transition: filter 0.5s ease;
}

img:hover {
  filter: grayscale(0%);
}

@media screen and (min-width: 1440px) {
  h2 {
    font-size: var(--h2-font-size-desktop);
  }

  img {
    width: var(--logo-img-width-desktop);
  }
}
