:root {
  --footer-img-width-mobile: 40%;
  --footer-img-width-desktop: 25%;
  --header-nav-li-margin: 3dvw;
  --header-nav-li-font-size-mobile: 0.8rem;
  --header-padding-mobile: 1dvh;
  --header-padding: 2dvh;
  --logo-size-mobile: 3rem;
  --main-element-margin-mobile: 2.5dvh;
  --main-element-margin-desktop: 5dvh;
  --h2-font-size-mobile: 1.5rem;
  --h2-font-size-desktop: 2rem;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: var(--header-padding-mobile);
  padding-bottom: var(--header-padding-mobile);
  align-items: center;
}

header > a {
  font-size: var(--logo-size-mobile);
}

header > nav > ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

header > nav > ul > li {
  font-size: var(--header-nav-li-font-size-mobile);
  margin-right: var(--header-nav-li-margin);
}

main > * {
  margin-bottom: var(--main-element-margin-mobile);
}

h2 {
  font-size: var(--h2-font-size-mobile);
  margin-bottom: 2dvh;
}

footer {
  margin-bottom: 3dvh;
}

footer > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
}

footer img {
  filter: grayscale(100%);
  width: var(--footer-img-width-mobile);
  transition: filter 0.5s ease;
}

footer img:hover {
  filter: grayscale(0%);
}
