:root {
  --quotes-list-item-margin-bottom: 3dvh;
  --blockquote-padding-top-bottom: 2dvh;
  --blockquote-padding-left: 0.5dvw;
  --blockquote-border-left: 0.5dvw solid hsl(0, 0%, 73%);
  --blockquote-width: 75%;
}

ul {
  list-style-type: none;
}

.quotes-list > li {
  margin-bottom: var(--quotes-list-item-margin-bottom);
}

figure {
  margin-top: 1dvh;
  display: flex;
  flex-direction: column;
}

figure > blockquote {
  padding-top: var(--blockquote-padding-top-bottom);
  padding-bottom: var(--blockquote-padding-top-bottom);
  padding-left: var(--blockquote-padding-left);
  align-self: center;
  border-left: var(--blockquote-border-left);
  width: var(--blockquote-width);
}

figure > figcaption {
  align-self: flex-end;
}
